@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: MyriadPro;
    font-weight: 500;
    src: url(/src/fonts/MyriadPro-Regular.woff) format("woff");
  }
  @font-face {
    font-family: MyriadPro;
    font-weight: 700;
    src: url(/src/fonts/MyriadPro-Bold.woff) format("woff");
  }
  @font-face {
    font-family: MyriadPro;
    font-weight: 600;
    src: url(/src/fonts/MyriadPro-Semibold.woff) format("woff");
  }
  body {
    @apply font-[MyriadPro]
  }
  ._table-header span {
    @apply p-[14px] border-x border-[#eeeff1]
  }
  ._table-items div{
    @apply p-[14px]
  }
  @screen sm {
    ._table-header {
      grid-template-columns: repeat(2, 52px) 1fr repeat(2,78px) 150px 78px;
    }
  }
  @screen sm {
    ._table-items {
      grid-template-columns: repeat(2, 52px) 1fr repeat(2,78px) 150px 78px;
    }
  }
}

@layer utilities {
  ._table-items p {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ._table-header span {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}